<div class="analysis">
  <h1>This is your analysis!!!!</h1>
  {{#each solutions}}
    {{this}} <br>
  {{/each}}

</div>

<img src="./{{img1A}}" alt="image uploaded from section A">
<img src="./{{img2A}}" alt="image uploaded from section A">

<img src="./{{img1B}}" alt="image uploaded from section B">
<img src="./{{img2B}}" alt="image uploaded from section B">

<img src="./{{img1C}}" alt="image uploaded from section C">
<img src="./{{img2C}}" alt="image uploaded from section C">

<img src="./{{img1D}}" alt="image uploaded from section D">
<img src="./{{img2D}}" alt="image uploaded from section D">

<img src="./{{img1E}}" alt="image uploaded from section E">
<img src="./{{img2E}}" alt="image uploaded from section E">

<br>

<button type="button" name="submit" id="submit">Export to Docx</button><br>

<script src="./js/doxctemplator.js"></script>
